doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.blue
    #container
      .header
        | Tracking
      .email-list.left.half
        - each recipient in recipients
          .row
            .cell.name=recipient.name
            .cell.email=recipient.email
            .cell.std=recipient.std
            .cell.invitation=recipient.invitation
            .cell.rsvp=recipient.rsvp
      .action-area.right.half
        .upload-csv
          input.upload-dialog(type="file")
        .compose-email
          texarea.html-area(rows="30", cols="70")
          input.html-submit(type="submit", title="Preview Email")