doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
  body.blue
    #container
      .header
        | Tracking
      .email-list.left.half
        - each recipient in recipients
          .row
            .cell.name=recipient.name
            .cell.email=recipient.email
            .cell.std=recipient.std
            .cell.invitation=recipient.invitation
            .cell.rsvp=recipient.rsvp
      .action-area.right.half
        .upload-csv
          | Upload CSV for recipients (First Name, Last Name, Email)
          input.upload-dialog(type="file")
        .compose-email
          | Compose an email to send to recipients
          textarea.html-area(rows="30", cols="70")
          input.html-submit(type="submit", title="Preview Email")